<div class="card col-sm-6">
                <div class="card-body">
                  <form id="student-create">
                      <h4 class="card-title">Add a student to your roster.</h4>
                      <!-- I might want these fields to show only if 'add a student to your roster', a button, is selected -->
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Student Name:</li>
                        <input name="student[name]" type="text" placeholder="'Jane Goodall'">
                        <br>
                        <li class="list-group-item">Student Grade:</li>
                        <input name="student[grade]" type="text" placeholder="'first'">
                        <br>
                        <li class="list-group-item">Check-in note:</li>
                        <input name="student[checkedIn]" type="text" placeholder="'Jane said she's excited about her new fish'">
                        <br>
                      </ul>
                      <button class="btn btn-info" id="add-new-student" type="submit">Add Student</button>
                      <p id="student-create-message"></p>
                  </form>
                </div>
              </div>