{{!-- <form id="student-update">
    <label for="name">Student Name:</label>
    <input name="student[name]" type="text" placeholder="student name">
    <br>
    <label for="name">Student Grade level:</label>
    <input name="student[grade]" type="text" placeholder="example: 'first'">
    <br>
    <label for="name">Student check-in notes:</label>
    <input name="student[checkedIn]" type="text" placeholder="example: 'Jimmy said he was excited about his new fish'">
    <br>
    <button class="update-student" data-id="{{student._id}}">Update this student</button>
    <p id="student-update-message"></p>
</form> --}}