<div class="row">
  <div class="card col-sm-12">
    <div class="card-body">
        <p><strong>User:</strong>
        </p>
        <p><strong>Number of students:</strong>
          
    </div>
</div>
</div>
