@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    background: url('public/teach.jpg');
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
}
.student-create {
    background: url('public/phone.jpg');
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {

}

.card {
    height: fit-content;
    opacity: .8;
}

.card-body {
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h1, h2, #unauth-message, #student-message {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #006400;
}

.about {
    color: black;
    text-align: center;
}

input {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px 0;
}

.list-group-item {
    background:transparent;
}
